.app {
  background-color: gray;
  padding: 5%;
  margin: 10%;
  border-style: dashed;
  border-color: red;
  color: white;
}

.btn-container .btn-item {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 3%;
}
